<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sentiment Analysis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <div class="container">
            <div id="branding">
                <h1>Sentiment Analysis</h1>
            </div>
        </div>
    </header>
    <div class="container">
        <form action="/recommendations" method="post">
            <textarea name="text" rows="4" cols="50" placeholder="Enter text here..."></textarea>
            <br>
            <input type="submit" value="Get Recommendations">
        </form>
    </div>
</body>
</html>